<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detección de Emociones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bienvenido a la Detección de Emociones</h1>
        <p>Detecta emociones en tiempo real usando tu cámara.</p>
        <a href="{{ url_for('detection') }}" class="button">Ir a Detección</a>

</body>
</html>
